.todo-icon {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin: 10px;
}
.todo-subcontainer {
    display: flex;
    flex-direction: row;
    padding: 10px;
}
.todo-subcontainer-2 {
    margin-top: -20px;
    padding-left: 70px;
}